.navIcon-primary {
  display: flex;
  padding: 0px 4px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  svg {
    height: 30px;
    width: 30px;
    color: var(--theme-color);
  }
}
