.friend__req-card {
  margin-bottom: 20px;
}
.friend__req-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.req__card-info {
  .name {
    color: black;
    font-size: 13px;
    font-weight: 600;
  }
  .location {
    margin-top: 5px;
    color: black;
    font-size: 13px;
  }
}
.req__card-info-dark {
  .name {
    color: white;
  }
  .location {
    color: var(--text-semiWhite);
  }
}

.friend__req-buttons {
  margin-top: 15px;
  display: flex;
  gap: 20px;
}

.btn-confirm {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 600;
  color: var(---light-gray);
  width: 100px;
  height: 35px;
  border: none;
  background: linear-gradient(
    135deg,
    rgba(0, 85, 255, 1) 41%,
    rgba(0, 153, 255, 1) 100%
  );
  border-radius: 25px;
}

.btn-cancel {
  @extend .btn-confirm;
  background: var(--main-bg);
  color: black;
}
