body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* define root*/

:root {
  --font-family: "Montserrat", sans-serif;
  --dark-700: #1a2236;
  ---light-gray: #eee;
  --theme-color: #05f;
}
